<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.dao.StudentMapper">

    <cache eviction='FIFO' flushInterval='600' size='512' readOnly='true' />
    <!-- 使用第3方缓存框架EhCache -->
    <!--获取所有学生信息 useCache="false"-->
    <select id="getAllStudents" resultType="project.pojo.Student">
        select * from student
    </select>
    <!-- 删除-->
    <delete id="deleteStudent" parameterType="int">
        delete from student where id=#{id}
    </delete>
    <!--修改-->
    <update id="updateStudent" parameterType="project.pojo.Student">
        update student set name=#{name},sex=#{sex},score=#{score}
        where id=#{id}
    </update>
    <!--添加-->
    <insert id="addStudent" parameterType="project.pojo.Student">
        insert into student(id,name,sex,score) values (#{id},#{name},#{sex},#{score})
    </insert>
    <!--根据id查询学生-->
    <select id="getStudentById" parameterType="int" resultType="project.pojo.Student">
        select * from student where id=#{id}
    </select>
    <!--删除添加-->
    <delete id="delectAndInsertStudent" parameterType="project.pojo.Student">
        delete from student where id=#{id};
         insert into student(id,name,sex,score) values (#{id},#{name},#{sex},#{score})
    </delete>
</mapper>